.table{
border
align:center;
border:1;
align:center;
width:700;
cellspacing:5;
cellpadding:5;
bordercolor:#ffb6c1;
background:#4169e1;
color:#ffffff;
}

.Tmidashi{
background:#b0c4de;
color:#333333;
}

.Tcell{
background:#6495ed;
}

